/* color code */
// for light theme
$primary: #43926e;
$primary-light: #98d3b8;
$primary-dark: #2a5b44;
$low-contrast: #fff;
$low-contrast-light: #d8d7d7;
$high-contrast: #292929;
$high-contrast-light: #52575c;
$link: $primary;
$transparent: rgba(0,0,0,0);

//for dark theme